html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}
ins {
    background-color:#fff;
    color:#000;
    text-decoration:none;
}
mark {
    background-color:#fff;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}


/*==================================================================================
# question index.php
================================================================================== */
.question{
    padding-top: 60px;
}

.question h1{
    padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
    color: #494949;/*文字色*/
    background: #f4f4f4;/*背景色*/
    border-left: solid 5px #7db4e6;/*左線*/
    border-bottom: solid 3px #d7d7d7;/*下線*/
    font-size: 2rem;
}



.msg__lists{
    margin-top: 10px;
}
.msg__list:first-of-type{
    border-top: 1px solid #ccc;
}

.msg__list a{
    color: #000;
    text-decoration: none;
}
.msg__list a:hover{
    opacity: 0.7;
}

.msg__body{
    padding: 15px 20px;
    border-bottom: 1px solid #ccc;
}

.msg__question{
    font-size: 22px;
}

.name{
    padding-left: 30px;
}

.msg__day{
    margin-top: 10px;
    color: #333;
}

/*==================================================================================
# detail.php
================================================================================== */
.detail{
    padding-top: 40px;
}

.detail__name{
    font-size: 18px;
    padding-bottom: 5px;
}

.detail__msg-wrap{
    padding: 30px;
    background: skyblue;
    font-size: 22px;
    position: relative;
}

.detail__day{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 14px;
}

.return{
    font-size: 20px;
    text-align: center;
    display: block;
    margin-top: 30px;
}

.return:hover{
    opacity: 0.7;
    text-decoration: none;
}

.detail__error{
    font-size: 18px;
    padding: 10px;
}